---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
  font-family: 'Playfair Display', serif;
  background-color: #f7f5f1;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #4094AA;
}

a:hover {
  border-bottom: 2px solid #9CAA8C;
}

h1 a {
  border-bottom: none;
}

p.date {
  color: #666;
}

img {
  width: 100%;
}

#header {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0 75px 0;
}

#punchline {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-top: 5px;
}

.post {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6em;
  font-size: 18px;
}

code:not([class]) {
  white-space: nowrap;
}

@import "syntax-highlighting";