@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
body {
  font-family: 'Playfair Display', serif;
  background-color: #f7f5f1; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #4094AA; }

a:hover {
  border-bottom: 2px solid #9CAA8C; }

h1 a {
  border-bottom: none; }

p.date {
  color: #666; }

p > img {
  width: 100%; }

#header {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin: 50px 0 75px 0; }

#punchline {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-top: 5px; }

.post {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6em;
  font-size: 18px; }

code:not([class]) {
  white-space: nowrap; }

/**
* Syntax highlighting
* Colors from SublimeText theme "Spacegray"
* https://github.com/kkga/spacegray
*/
.highlight {
  background-color: #343d46;
  color: white;
  margin-bottom: 4px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Source Code Pro';
  line-height: 1.5em;
  overflow: scroll;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll {
    background-color: #343d46; }
  .highlight .c {
    color: #65737e; }
  .highlight .err {
    color: #ffffff;
    background-color: #ca858d; }
  .highlight .k {
    color: #b48ead; }
  .highlight .l {
    color: #d08770; }
  .highlight .n {
    color: #8FA1B3; }
  .highlight .o {
    color: #c0c5ce; }
  .highlight .p {
    color: #8FA1B3; }
  .highlight .cm {
    color: #65737e; }
  .highlight .cp {
    color: #65737e; }
  .highlight .c1 {
    color: #65737e; }
  .highlight .cs {
    color: #65737e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #b48ead; }
  .highlight .kd {
    color: #b48ead; }
  .highlight .kn {
    color: #c0c5ce; }
  .highlight .kp {
    color: #b48ead; }
  .highlight .kr {
    color: #b48ead; }
  .highlight .kt {
    color: #b48ead; }
  .highlight .ld {
    color: #a3be8c; }
  .highlight .m {
    color: #d08770; }
  .highlight .s {
    color: #a3be8c; }
  .highlight .na {
    color: #d08770; }
  .highlight .nb {
    color: #8FA1B3; }
  .highlight .nc {
    color: #ebcb8b; }
  .highlight .no {
    color: #b48ead; }
  .highlight .nd {
    color: #ebcb8b; }
  .highlight .ni {
    color: #8FA1B3; }
  .highlight .ne {
    color: #ebcb8b; }
  .highlight .nf {
    color: #ebcb8b; }
  .highlight .nl {
    color: #8FA1B3; }
  .highlight .nn {
    color: #8FA1B3; }
  .highlight .nx {
    color: #C0C5CE; }
  .highlight .py {
    color: #8FA1B3; }
  .highlight .nt {
    color: #bf616a; }
  .highlight .nv {
    color: #8FA1B3; }
  .highlight .ow {
    color: #c0c5ce; }
  .highlight .w {
    color: #8FA1B3; }
  .highlight .mf {
    color: #d08770; }
  .highlight .mh {
    color: #d08770; }
  .highlight .mi {
    color: #d08770; }
  .highlight .mo {
    color: #d08770; }
  .highlight .sb {
    color: #a3be8c; }
  .highlight .sc {
    color: #a3be8c; }
  .highlight .sd {
    color: #a3be8c; }
  .highlight .s2 {
    color: #a3be8c; }
  .highlight .se {
    color: #d08770; }
  .highlight .sh {
    color: #a3be8c; }
  .highlight .si {
    color: #a3be8c; }
  .highlight .sx {
    color: #a3be8c; }
  .highlight .sr {
    color: #a3be8c; }
  .highlight .s1 {
    color: #a3be8c; }
  .highlight .ss {
    color: #a3be8c; }
  .highlight .bp {
    color: #8FA1B3; }
  .highlight .vc {
    color: #8FA1B3; }
  .highlight .vg {
    color: #8FA1B3; }
  .highlight .vi {
    color: #8FA1B3; }
  .highlight .il {
    color: #d08770; }
